<% show_post ||= false %>

<% begin %>
<div class='row'>
  <div class='span0 well text-center'>
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: true),
        method: 'post', remote: true do %>
        <i class='icon-chevron-up'></i>
      <% end %>
      <br/>
    <% end %>
    <div id='comment_<%= comment.id %>_votes'><%= "#{comment.total_votes} votes" %></div>
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: false),
        method: 'post', remote: true do %>
        <i class='icon-chevron-down'></i>
      <% end %>
    <% end %>
  </div>
  <div class='span8 well'>
    <em>"<%= comment.body %>"</em>
    <% if show_post %>
      on <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
    <br/>
    <span class='quiet'>by</span> <%= link_to(comment.user.username, user_path(comment.user)) %>
    <% if logged_in? %>
      <small> on <%= format_time(comment.created_at, current_user.timezone_string) %></small>
    <% else %>
      <small> on <%= format_time(comment.created_at) %></small>
    <% end %>
  </div>
</div>
<% rescue %>
<% end %>