<div class='well'>
  <%= form_for @user do |u| %>
    <div class='control-group'>
      <%= u.label :username %>
      <%= u.text_field :username %>
    </div>

    <div class='control-group'>
      <%= u.label :password %>
      <%= u.password_field :password %>
    </div>

    <div class='control-group'>
      <%= u.label :timezone_string %>
      <%= u.time_zone_select(:timezone_string, ActiveSupport::TimeZone.us_zones,
            default: Time.zone.name) %>
    </div>

    <%= u.submit((@user.new_record? ? 'Register' : 'Update'), class: 'btn btn-primary') %>
  <% end %>
</div>