<p class='pull-right'>
  [<%= link_to 'Edit this post', edit_post_path(@post) %>]
</p>
<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: link_to(@post.title, 'http://' + @post.url) %>

<p>
  <%= @post.description %>
</p>
<hr/>

<div class='well' />
  <%= form_for [@post, @comment] do |f| %>
    <%= render 'shared/errors', object: @comment %>
    <div class='control-group' %>
      <%= f.label :body, 'Leave a comment:' %>
      <%= f.text_area :body, rows: 3, class: 'span4' %>
    </div>

    <%= f.submit('Post Comment', class: 'btn btn-primary') %>
  <% end %>
</div>

<h4>Comments:</h4>

<% @post.comments.each do |comment| %>
  <div class='row'>
    <div class='span8 well'>
      <p>"<%= comment.body %>"</p>
      <p>
        <span class='quiet'>by</span> <%= comment.user.username %>
        <small>on <%= format_time(comment.created_at) %></small>
      </p>
    </div>
  </div>
<% end %>
