<p class='pull-right'>
  [<%= link_to 'Edit this post', edit_post_path(@post) %>]
</p>
<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: link_to(@post.title, 'http://' + @post.url) %>

<p>
  <%= @post.description %>
</p>
<hr/>

<div class='well'>
  <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>

    <div>
      <%= check_box_tag(:pet_dog) %>
      <%= label_tag(:pet_dog, "I own a dog") %>
      <%= check_box_tag(:pet_cat) %>
      <%= label_tag(:pet_cat, "I own a cat") %>
    </div>

    <div>
      <%= radio_button_tag(:age, "child") %>
      <%= label_tag(:age_child, "I am younger than 21") %>
      <%= radio_button_tag(:age, "adult") %>
      <%= label_tag(:age_adult, "I'm over 21") %>
    </div>

    <div>
      <%= datetime_field(:user, :meeting_time) %>
      <%= color_field(:user, :favorite_color) %>
      <%= time_field(:task, :started_at) %>
      <%= number_field(:product, :price, in: 1.0..20.0, step: 0.5) %>
      <%= range_field(:product, :discount, in: 1..100) %>

      <%= password_field_tag(:password) %>
      <%= hidden_field_tag(:parent_id, "5") %>
      <%= telephone_field(:user, :phone) %>
    </div>

  <% end %>
</div>


<div class='well' />
  <%= form_for [@post, @comment] do |f| %>
    <%= render 'shared/errors', object: @comment %>
    <div class='control-group' %>
      <%= f.label :body, 'Leave a comment:' %>
      <%= f.text_area :body, rows: 3, class: 'span4' %>
    </div>

    <%= f.submit('Post Comment', class: 'btn btn-primary') %>
  <% end %>
</div>

<h4>Comments:</h4>

<% @post.comments.each do |comment| %>
  <div class='row'>
    <div class='span8 well'>
      <p>"<%= comment.body %>"</p>
      <p>
        <span class='quiet'>by</span> <%= comment.user.username %>
        <small>at <%= comment.created_at %></small>
      </p>
    </div>
  </div>
<% end %>
