<p>
  <% @post.categories.each do |category| %>
    <span class='badge'><%= category.name %></span>
  <% end %>
</p>

<p class='lead'>
  <%= link_to @post.title, 'http://' + @post.url %>
  <hr/>
</p>

<p>
  <%= @post.description %>
</p>
<hr/>

<h4>Comments:</h4>

<% @post.comments.each do |comment| %>
  <div class='row'>
    <div class='span8 well'>
      <p>"<%= comment.body %>"</p>
      <p>
        <span class='quiet'>by</span> <%= comment.user.username %>
        <small>at <%= comment.created_at %></small>
      </p>
    </div>
  </div>
<% end %>