<h3><%= @post.title %></h3>

<%= link_to 'Back', posts_path %>

<p><%= @post.id %></p>
<p><%= link_to @post.url, 'http://' + @post.url %></p>
<p><%= @post.description %></p>
<p>Posted by <%= @post.user.username %> on <%= @post.created_at %></p>