<p class='pull-right'>
  [<%= link_to 'Edit this post', edit_post_path(@post) %>]
</p>
<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: link_to(@post.title, 'http://' + @post.url) %>

<p>
  <%= @post.description %>
</p>
<hr/>

<h4>Comments:</h4>

<% @post.comments.each do |comment| %>
  <div class='row'>
    <div class='span8 well'>
      <p>"<%= comment.body %>"</p>
      <p>
        <span class='quiet'>by</span> <%= comment.user.username %>
        <small>at <%= comment.created_at %></small>
      </p>
    </div>
  </div>
<% end %>